[run]
source = .
omit =
    */migrations/*
    */tests/*
    manage.py
    */settings.py
    config/*

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if settings.DEBUG
    if TYPE_CHECKING:
    if __name__ == .__main__.: